# compiled output
nust_app/dist
nust_app/node_modules
nust_app/build

# Logs
nust_app/logs
nust_app/*.log
nust_app/npm-debug.log*
nust_app/pnpm-debug.log*
nust_app/yarn-debug.log*
nust_app/yarn-error.log*
nust_app/lerna-debug.log*

# OS
nust_app/.DS_Store

# Tests
nust_app/coverage
nust_app/.nyc_output

# IDEs and editors
nust_app/.idea
nust_app/.project
nust_app/.classpath
nust_app/.c9/
nust_app/*.launch
nust_app/.settings/
nust_app/*.sublime-workspace


# dotenv environment variable files
nust_app/.env
nust_app/.env.development.local
nust_app/.env.test.local
nust_app/.env.production.local
nust_app/.env.local

# temp directory
nust_app/.temp
nust_app/.tmp

# Runtime data
nust_app/pids
nust_app/*.pid
nust_app/*.seed
nust_app/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
nust_app/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
